:host {
  color: black;
}

.streaming-logo {
  & img {
    width: 30%;
  }
}

.streaming-responsibilities {
  margin-top: 50px;
  z-index: 1;
}

.streaming-mockup {
  top: -3rem;

  img {
    width: 100%;
  }
}

.streaming-learn {
    top: -3rem;
}
