<div class="col">
  <div class="row">
    <div class="col-12 streaming-logo">
        <img src="assets/streaming-logo-light.png">
    </div>
    <div class="w-100"></div>
    <div class="col-8 offset-2 streaming-responsibilities">
      I Initiated and developed Settrade Streaming for PC, the most popular real-time internet trading web application
      in Thailand with more than 50,000 concurrent users per day, based on Angular (Typescript) including Unit
      testing and Automate Testing with Selenium, sizing more than 54,046 lines of codes with 7,041 test cases.
    </div>
    <div class="col-8 offset-2 streaming-responsibilities">
        Thanks to Web Socket Technology that enabled me to display realtime data in this application.
      </div>
    <div class="w-100"></div>
    <div class="col-12 streaming-mockup">
      <img src="assets/streaming-pc-mockup.png"/>
    </div>
  </div>
</div>