:host {
  color: black;
}

.streaming-logo {
  & img {
    width: 30%;
  }
}

.streaming-responsibilities {
  margin-top: 50px;
  z-index: 1;
}

.streaming-mockup {
  top: -3rem;

  img {
    width: 100%;
  }
}

.streaming-learn {
  top: -3rem;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .streaming-logo {
    & img {
      width: 60%;
    }
  }

  .details-section {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .streaming-mockup {
    top: -1rem;
  }
}
