:host {
    color: white;
    margin-top: 50px;
}

.name {
    margin-top: 25px;
    background-color: #356b3cad;
    padding-bottom: 15px;

    .header {
        font-size: 4rem;
    }

    .details {
        font-size: 2rem;
    }
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
}