<div class="col-12">
  <div class="row">
    <div class="col-12">
      <div class="row details">
        <div class="col-12 details-topic">
          <div class="col-12">
            <img src="assets/set-logo.png">
          </div>
          <div class="col-12">
            The Stock Exchange of Thailand
          </div>
        </div>
        <div class="col-md-6 details-section">
          <div class="row details-content">
            <div class="col">
              <div class="row details-content-item">
                <div class="col-12 topic">
                  Senior Application Engineer (Software Engineer) (2016 – Present)
                </div>
                <div class="col-12 content">
                  <p>
                    - Lead a Scrum team as a technical leader to design and implement Streaming for PC based on comprehensive knowledge in JavaScript,
                    Typescript, Sass, HTML5 and WEB Socket technology
                  </p>
                  <p>
                    - Developed Order Management Systems based on Java with Spring Boots to provide Restful API
                  </p>
                  <p>
                    - Introduced and applied new tools to enhance the development process such as Dockers and Jenkins to make Continuous Integration
                    (CI) work effectively.
                  </p>
                  <p>
                    - Employed activities of Scrum and improve the room for improvement to increase efficiency
                  </p>
                  <p>
                    - Coached new joiners who were unfamiliar with JavaScript to implement JavaScript web applications based on HTML5 with quality
                    and rapid pace
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 details-section">
          <div class="row details-content">
            <div class="col">
              <div class="row details-content-item">
                <div class="col-12 topic">
                  Application Engineer (Software Engineer) (2014 – 2016)
                </div>
                <div class="col-12 content">
                  <p>
                    - Initiated and developed Market Responsive Web Application based on Angular Framework, Bootstrap Framework and JSP to become
                    the first product of the Stock Exchange of Thailand that fits all screen sizes.
                    <p>
                      - Initiated and developed Streaming for Web Mobile in Angular Framework with Unit Testing which becomes the first application
                      in Thailand for Multi-Market trading that can display real-time data on all mobile devices.
                    </p>
                    <p>
                      - Introduced and employed WEB Socket technology with Angular Framework to Streaming for Web Mobile to make it display real-time
                      market data.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row details">
        <div class="col-12 details-topic">
          <div class="col-12">
            <img class="chula" src="assets/chula.png">
          </div>
        </div>
        <div class="col-12 details-section">
          <div class="row details-content">
            <div class="col">
              <div class="row details-content-item">
                <div class="col-12 topic">
                  Undergraduate Student Researcher, Department of Computer Engineering (Bangkok, Jan - April 2014)
                </div>
                <div class="col-12 content">
                  <p>
                    - Did a research on the Data Mining algorithm named DB-Scan to deliver a web application with PHP and R to Hydro and Agro Informatics
                    Institute (HAII) for automatically detecting outliers in water-level data collected from all automate
                    telemetry devices in Thailand.
                  </p>
                  <p>
                    - A co-author in the academic research paper named Controlling Quality of Water-Level Data in Thailand
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row details">
        <div class="col-12 details-topic">
          <div class="col-12">
            <img class="thomson" src="assets/thomson.png">
          </div>
        </div>
        <div class="col-12 details-section">
          <div class="row details-content">
            <div class="col">
              <div class="row details-content-item">
                <div class="col-12 topic">
                  Software Engineering Intern (Bangkok, Thailand April – May 2013)
                </div>
                <div class="col-12 content">
                  <p>
                    - Developed an application in C# for the client side and in Java for the server side with Unit Testing (XUnit), and automated
                    testing (Test Complete)
                  </p>
                  <p>
                    - Applied SOAP for the stress test
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>