
$section_color: #d6d1d1;

:host {
  color: black;

  & > div {
    top: -200px;
  }
}

.details {
  margin-top: 50px;
}

img {
  width: 150px;

  &.thomson {
    width: 250px;
  }

  &.chula {
    width: 300px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  img {
    &.chula {
      width: 250px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .details-section {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
  }

.details {
  .details-topic {
    margin-bottom: 5rem;

    font-size: 2rem;

    & i {
      font-size: 5rem;
      color: #3a27bf;
    }
  }

  .details-section {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    .details-content {
      .details-content-item {
        .topic {
          font-size: 1.2rem;
          color: #3a27bf;
          text-decoration: underline;
        }

        .content {
          margin-top: 1.2rem;
          font-size: 1rem;
          text-align: left;
        }
      }
    }
  }
}



[class*="col"] {
  text-align: center;
}
