<div class="col-lg-8 offset-lg-2 align-self-center align-center">
  <div class="jumbotron">
    <div class="row">
      <div class="col-12">
        <h3 class="display-4">Contact</h3>
        <hr class="my-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 link">
         <p><i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/blablaBen">https://github.com/blablaBen</a></p>
         <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/pattarasai-markpeng">https://www.linkedin.com/in/pattarasai-markpeng</a></p>
         <p><i class="fa fa-envelope-open-o" aria-hidden="true"></i> pattarasai.markpeng@gmail.com</p>
      </div>
    </div>

  </div>
</div>