<div class="col-12">
  <div class="row describtion">
    <div class="col">
      <div class="row header">
        <div class="col align-self-center header-topic">
          <i class="fas fa-hdd"></i> Experiences
        </div>
      </div>
      <div class="row details">
        <div class="col-md-6 offset-md-3">
          I have been working for 5 years at <b>The Stock Exchange Of Thailand (SET)</b>. Currently, My job position is Senior Application
          Engineer (Software Engineer). My responsibilities are to develop and maintain many products and services of SET
          and work collaboratively with SET's business teams in order to make the stock exchange market of Thailand work
          for everyone.
        </div>
      </div>
    </div>
  </div>
  <div class="row products">
    <div class="col-lg-10 offset-lg-1 align-self-center align-center">
      <div class="jumbotron">
        <app-streaming-pc class="row"></app-streaming-pc>
      </div>
    </div>
  </div>
  <hr>
</div>