<div class="row">
  <div class="col-lg-8 offset-lg-2 align-self-center align-center">
    <div class="jumbotron">
      <h1 class="display-4">A Front-End Web Developer</h1>
      <p class="lead">I love WWW. so I code them everyday.</p>
      <hr class="my-4">
      <p>My main expertise is to design an architecture of <b>Real-Time Web Application</b> and implement it base on Agile Methodology .</p>
    </div>
  </div>
</div>
<app-skill class="row"></app-skill>
<app-work class="row"></app-work>
<app-education class="row"></app-education>