<div class="row">
  <div class="col-lg-8 offset-lg-2 align-self-center align-center">
      <div class="jumbotron">
        <h1 class="display-4">A Front-End Web Developer</h1>
        <p class="lead">I love WWW. so I code them everyday.</p>
        <hr class="my-4">
        <p>I have been working as a front-end web developer for 4 years at The Stock Exchange of Thailand.</p>
        <p>My main expertise is to design an architecture and deliver a Real-time web application.</p>
      </div>
  </div>
</div>