:host {
  background-color: white;
  margin-top: 300px;
  padding-left: 15px;
  padding-right: 15px;

  & > div.row {
    & > div {
      top: -200px;
    }
  }

  .jumbotron {
    background-color: white;
    border: 1px solid #c1c1c1;
  }
}
