<div class="col-12">
  <div class="row header">
    <div class="col align-self-center header-topic">
      <i class="fas fa-hdd"></i> Skills
    </div>
  </div>
  <div class="row details">
    <div class="col-md-4 details-section">
      <div class="row details-header">
        <div class="col">
          Font-End Skills
        </div>
      </div>
      <div class="row details-content">
        <div class="col">
          <div class="row details-content-item">
            <div class="col-12 topic">
              Programming/Languages
            </div>
            <div class="col-12 content">
              Typescript, JavaScript, CSS, Sass, Robot, JSP, PHP
            </div>
          </div>
          <div class="row details-content-item align-items-center">
            <div class="col-12 topic">
              Web-Frameworks
            </div>
            <div class="col-6 content">
              <img src="assets/angular.png">
            </div>
            <div class="col-6">
              <img src="assets/react.png">
            </div>
          </div>
          <div class="row details-content-item">
            <div class="col-12 topic">
              Frameworks/Tools
            </div>
            <div class="col-12 content">
              NodeJS, NPM, WEB Pack, RESTful, Tomcat, Nginx, Selenium Hub & Nodes
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          Back-End Skills
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          Methodologies
        </div>
      </div>
    </div>
  </div>
</div>