
$section_color: #d6d1d1;

:host {
  & > div {
    top: -200px;
  }
}

.details {
  margin-top: 50px;
}

img {
  width: 150px;
}

.details {

  .details-section {
    padding-bottom: 30px;
    border-right: 1px solid $section_color;

    .details-header {
      font-size: 1.5rem;

      & i {
          font-size: 5rem;
          color: #3a27bf;
      }
    }

    .details-content {
      margin-top: 30px;

      .details-content-item {
        margin-top: 50px;

        .topic {
          font-size: 1.2rem;
          color: #3a27bf;
          text-decoration: underline
        }

        .content {
          margin-top: 1.2rem;
          font-size: 1rem;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) { 
    .details-section {
        padding-top: 50px;
        border-bottom: 1px solid $section_color;
    }
    .details-section:last-child {
        border-bottom: none !important;
    }
 }

[class*="col"] {
  text-align: center;
}
