<div class="col-12">
  <div class="row header">
    <div class="col align-self-center align-center header-topic">
      <i class="fas fa-hdd"></i> Skills
    </div>
  </div>
  <div class="row details">
    <div class="col-md-4">
      <div class="row details-header">
        <div class="col align-center">
          Font-End Skills
        </div>
      </div>
      <div class="row details-content">
        <div class="col-12 align-center">
          Programming/Languages
        </div>  
        <div class="col-12 align-center">
            Typescript, JavaScript, CSS, Sass, Robot, JSP, PHP
        </div>
      </div>
      <div class="row details-content align-items-center">
          <div class="col-12 align-center">
            Web-Frameworks
          </div>  
          <div class="col-6">
            <img src="assets/angular.png">
          </div>
          <div class="col-6">
              <img src="assets/react.png">
            </div>
        </div>
      <div class="row details-content">
          <div class="col-12 align-center">
            Frameworks/Tools
          </div>  
          <div class="col-12 align-center">
            NodeJS, NPM, WEB Pack, RESTful, Tomcat, Nginx, Selenium Hub & Nodes
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col align-center">
          Back-End Skills
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="row">
          <div class="col align-center">
            Methodologies
          </div>
        </div>
      </div>
  </div>
</div>