<div class="col-12">
  <div class="row details">
    <div class="col-md-4 details-section">
      <div class="row details-header">
        <div class="col">
          <div class="row">
            <div class="col-12">
              <i class="fa fa-html5"></i>
            </div>
            <div class="col-12">
              Font-End Skills
            </div>
          </div>
        </div>
      </div>
      <div class="row details-content">
        <div class="col">
          <div class="row details-content-item">
            <div class="col-12 topic">
              Programming/Languages
            </div>
            <div class="col-12 content">
              Typescript, JavaScript, Swift, CSS, Sass, Robot, JSP, PHP
            </div>
          </div>
          <div class="row details-content-item align-items-center">
            <div class="col-12 topic">
              Frameworks
            </div>
            <div class="col-6 content">
              <img src="assets/angular.png">
            </div>
            <div class="col-6">
              <img src="assets/react.png">
            </div>
          </div>
          <div class="row details-content-item">
            <div class="col-12 topic">
              Testing tools
            </div>
            <div class="col-12 content">
              Karma/Jasmine, Robot Framework
            </div>
          </div>
          <div class="row details-content-item">
            <div class="col-12 topic">
              Other Frameworks & Tools
            </div>
            <div class="col-12 content">
              NodeJS, NPM, WEB Pack, RESTful, Tomcat, Nginx, Selenium Hub & Nodes, Web Socket, Web Component, Web Progressive, Responsive
              Web Design
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 details-section">
      <div class="row details-header">
        <div class="col">
          <div class="row">
            <div class="col-12">
              <i class="fa fa-terminal" aria-hidden="true"></i>
            </div>
            <div class="col-12">
              Back-End Skills
            </div>
          </div>
        </div>
      </div>
      <div class="row details-content">
        <div class="col">
          <div class="row details-content-item">
            <div class="col-12 topic">
              Programming/Languages
            </div>
            <div class="col-12 content">
              Java, C, C++, R
            </div>
          </div>
          <div class="row details-content-item">
            <div class="col-12 topic">
              Frameworks
            </div>
            <div class="col-12 content">
              <img src="assets/spring.png" />
            </div>
          </div>
          <div class="row details-content-item">
            <div class="col-12 topic">
              Testing tools
            </div>
            <div class="col-12 content">
              Junit
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 details-section">
        <div class="row details-header">
            <div class="col">
              <div class="row">
                <div class="col-12">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                </div>
                <div class="col-12">
                  Methodologies
                </div>
              </div>
            </div>
          </div>
      <div class="row details-content">
        <div class="col">
          <div class="row details-content-item">
            <div class="col-12 topic">
              Software Engineering Methodologies
            </div>
            <div class="col-12 content">
              Agile with Scrum, TDD Development, Continuous Integration
            </div>
          </div>
          <div class="row details-content-item">
            <div class="col-12 topic">
              Software Management Methodologies
            </div>
            <div class="col-12 content">
              Product Discovery, Minimum Viable Product (MVP), Requirement Analysis & Refinement, Product Definition & Validation, Software
              Product Strategy
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>