:host {
  & > div {
    top: -200px;
  }
}

.details {
  margin-top: 50px;
}

img {
  width: 150px;
}

.details {

  .details-section {
    padding-bottom: 30px;
    border-right: 1px solid #d6d1d1;

    .details-header {
      font-size: 1.5rem;

      & i {
          font-size: 5rem;
          color: #3a27bf;
      }
    }

    .details-content {
      margin-top: 30px;

      .details-content-item {
        margin-top: 50px;

        .topic {
          font-size: 1.2rem;
          color: #3a27bf;
          text-decoration: underline;
        }

        .content {
          margin-top: 1.2rem;
          font-size: 1rem;
        }
      }
    }
  }
}

[class*="col"] {
  text-align: center;
}
