
/* You can add global styles to this file, and also import other style files */
body {
    background-image:url('assets/bg-2.png');
}
.align-center {
    text-align: center;
}

.navbar-grey-color {
    background-color: transparent !important;
}

.header-topic {
    font-size: 2rem;
}