/* You can add global styles to this file, and also import other style files */
body {
    background-image:url('assets/main-background.jpg');
    background-size: cover;
}

.align-center {
    text-align: center;
}

.navbar-grey-color {
    background-color: #d6d6d6!important;
}