
:host {
    padding-top: 100px;
    &>div {
        top: -200px;
    }
}
.details-header {
  font-size: 1.5rem;

  & i {
    font-size: 5rem;
    color: #3a27bf;
  }
}


[class*="col"] {
    text-align: center;
}