<div class="col">
  <div class="row details-header">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="col-12">
          Education
        </div>
      </div>
    </div>
  </div>
  <div class="row details-content">
      <div class="col-12">
        <div class="row university-label">
          <div class="col-12">
            <img src="assets/cmu.png"/>
          </div>
          <div class="col-12">
              Moffett Field, CA, Aug 2018 - Dec 2019
          </div>
        </div>
        <div class="row university-detail">
            <div class="col-12">
              <p>Master of Science in Software Management </p>
            </div>
            <div class="col-12">
                (Primary – Education)
            </div>
        </div>
      </div>
    </div>
  <div class="row details-content">
    <div class="col-12">
      <div class="row university-label">
        <div class="col-12">
          <img src="assets/chula.png"/>
        </div>
      </div>
      <div class="row university-detail">
          <div class="col-12">
              Bangkok, Thailand, 2010 - 2014
          </div>
          <div class="col-12">
            <p>Bachelors of Computer Engineering (1st class Honors), Computer Engineering <b>(GPA 3.78/4.00)</b></p>
          </div>
      </div>
    </div>
  </div>
</div>